version: 2.1

orbs:
  android: circleci/android@2.3.0

workflows:
  build-test-deploy:
    jobs:
      - build-and-test

jobs:
  build-and-test:
    executor: android/android
    steps:
      - checkout
      - run:
          name: Make gradlew executable
          command: sudo chmod +x ./gradlew
      - restore_cache:
          key: jars-{{ checksum "build.gradle.kts" }}-{{ checksum "app/build.gradle.kts" }}-{{ checksum "core/build.gradle.kts" }}-{{ checksum "favorite/build.gradle.kts" }}-{{ checksum "gradle/libs.versions.toml" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle.kts" }}-{{ checksum "app/build.gradle.kts" }}-{{ checksum "core/build.gradle.kts" }}-{{ checksum "favorite/build.gradle.kts" }}-{{ checksum "gradle/libs.versions.toml" }}
      - run:
          name: Build Debug
          command: ./gradlew build
      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: apk/debug
      - run:
          name: Run Tests
          command: ./gradlew lint test
      - store_test_results:
          path: app/build/test-results
          destination: reports